@import "../global/parts";

.testimonials {
    @include _convertVW(padding-top, 115px);
    @include _convertVW(padding-bottom, 115px);
    color: $white;
    background: $softgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .testimonials__title {
        margin-bottom: 1.8vw;
        padding-bottom: 1.9vw;
        @include _titleAfterLine($white);
    }
    .testimonials__content {
        position: relative;
        z-index: 2;
    }
    .testimonials__copy {
        text-align: center;
    }
}
