//Colors
$textgrey: #333333;
$lightgrey: #666666;
$darkgrey: #292929;
$mediumgrey: #535353;
$softgrey: #494949;
$offwhite: #f5f5f5;
$footerblack: #141414;
$footergrey: #999999;
$blue: #2c6ed5;
$white: #ffffff;
$black: #000000;

//breakpoints
$xxsmall: 320px;
$xsmall: 480px;
$small: 600px;
$mobile: 768px;
$tablet: 1025px;
$medium: 1180px;
$large: 1300px;
$largeNav: 1400px;
$xlarge: 1600px;
$siteMaxWidth: 1920px;
