@import "../global/parts";

.title {
    margin-bottom: 35px;
    padding-bottom: 20px;
    @include _minWidthMobile {
        margin-bottom: 1.8vw;
        padding-bottom: 1.9vw;
    }
    &.white {
        color: $white;
        @include _titleAfterLine($white);
    }
    &.grey {
        color: $textgrey;
        @include _titleAfterLine($textgrey);
    }
    &.home{
        font-size: clamp(50px, fluid-type(72px, 1920px), 72px);
        line-height: 72px;
        margin-bottom: 1.8vw;
        padding-bottom: 0;
        &:after {
            display: none;
        }
    }
}